<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fh.dao.ProjectFileMapper">

    <select id="test" resultType="map">
        select * from log limit 1;
    </select>


    <insert id="saveFileInfo">
        insert  into project_file (file_name,file_type,upload_date,user) values(#{fileName},#{fileType},NOW(),#{user})
    </insert>
</mapper>
